body {
  background-color: rgba(26, 26, 26, 0.979);
}

.App {
  text-align: center;
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
  max-width: 50px;
  max-height: 50px;
  animation: Homepage-logo-spin infinite 7s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .Homepage-logo {
    animation: Homepage-logo-spin infinite 100s linear;
    
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #365686;
}

@keyframes Homepage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header1 {
  font-size: calc(20px + 2vmin);
  color: white;
}

.Header2{
  font-size: calc(20px + 2vmin);
  color: rgb(226, 114, 198);
}

.Border1 {
  border-style: solid;
  border-color: rgb(136, 31, 168);
  border-spacing: 15px
}
.Padding1 {
  padding: 60px;
}
.PaddingTop1 {
  padding-top: 50px;
}

.PaddingSides1 {
  padding-left: 50px;
  padding-right: 50px;
}